<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect everything to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Block access to sensitive files
<FilesMatch "(^\.|\.env|composer\.json|artisan|server\.php|.git|.env|.htaccess|phpunit\.xml|storage|vendor)">
    Order allow,deny
    Deny from all
</FilesMatch>

# Disable directory listing
Options -Indexes

# ----------------------------------------------------------------------
# Block access to storage and vendor folders
# ----------------------------------------------------------------------
RedirectMatch 403 ^/(vendor|storage|config|bootstrap|resources|database)/.*$